<body class="p-10 font-serif text-sm w-[210mm] min-h-[297mm] mx-auto bg-white" id="print-section">
  <!-- Back button outside the form -->
<div class="mb-2">
  <button
    type="button"
    class="px-4 py-1 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition font-semibold print:hidden"
    routerLink="/HCP/Prenatal-Patients"
  >
    &#8592; Back
  </button>
</div>

  <div class="overflow-y-auto max-h-[90vh] space-y-8 p-4 bg-gray-50 rounded-lg">
  <form (ngSubmit)="onSubmit(itrForm)" #itrForm="ngForm" >
  <div *ngIf="showFormError" class="text-red-700 font-semibold mb-2">
    Please fill up all required fields.
  </div>

    <div class="text-center leading-tight mb-4">
      <p class="font-semibold">REPUBLIC OF THE PHILIPPINES</p>
      <p>PROVINCE OF ILOILO</p>
      <p>MUNICIPALITY OF POTOTAN</p>
      <p>---OOOOOOOO---</p>
      <p class="font-semibold">RURAL HEALTH UNIT</p>
      <p class="font-semibold ">ITR (INDIVIDUAL TREATMENT RECORD)</p>
    </div>

    <div class="mt-15 text-[13px]">
      <div class="mb-2 flex flex-wrap">
        <div class="w-full mb-2">
          <span>Name:</span>
          <!-- Last Name -->
<input
  type="text"
  required
  name="lastName"
  placeholder="Last Name"
  [(ngModel)]="itr.lastName"
  #lastName="ngModel"
  class="border-b w-[180px] ml-3"
  [ngClass]="{
    'border-black': !(lastName.invalid && (lastName.dirty || lastName.touched || showFormError)),
    'border-red-500': lastName.invalid && (lastName.dirty || lastName.touched || showFormError)
  }"
  [title]="lastName.invalid && (lastName.dirty || lastName.touched || showFormError) ? 'Last Name is required.' : ''"
/>

<!-- First Name -->
<input
  type="text"
  required
  name="firstName"
  placeholder="First Name"
  [(ngModel)]="itr.firstName"
  #firstName="ngModel"
  class="border-b w-[180px] ml-3"
  [ngClass]="{
    'border-black': !(firstName.invalid && (firstName.dirty || firstName.touched || showFormError)),
    'border-red-500': firstName.invalid && (firstName.dirty || firstName.touched || showFormError)
  }"
  [title]="firstName.invalid && (firstName.dirty || firstName.touched || showFormError) ? 'First Name is required.' : ''"
/>

<!-- Middle Name (optional) -->
<input
  type="text"
  required
  name="middleName"
  placeholder="Middle Name"
  [(ngModel)]="itr.middleName"
  #middleName="ngModel"
  class="border-b w-[180px] ml-3"
  [ngClass]="{
    'border-black': !(middleName.invalid && (middleName.dirty || middleName.touched || showFormError)),
    'border-red-500': middleName.invalid && (middleName.dirty || middleName.touched || showFormError)
  }"
  [title]="middleName.invalid && (middleName.dirty || middleName.touched || showFormError) ? 'Middle Name is required.' : ''"
/>

        </div>

        <div class="w-full flex items-center">
          <span>Age:</span>
          <!-- Age -->
<input
  type="number"
  name="age"
  [(ngModel)]="itr.age"
  #age="ngModel"
  min="0"
  class="border-b w-[50px] ml-1 text-center"
  required
  [ngClass]="{
    'border-black': !(age.invalid && (age.dirty || age.touched || showFormError) || itr.age < 5),
    'border-red-500': age.invalid || itr.age < 5
  }"
  [title]="age.invalid || itr.age < 5 ? 'Invalid Age' : ''"
/>

          <span class="ml-2">Sex:</span>
          <select
  name="sex"
  [(ngModel)]="itr.sex"
  #sex="ngModel"
  class="border-b w-[80px] ml-3"
  required
  [ngClass]="{
    'border-black': !(sex.invalid && (sex.dirty || sex.touched || showFormError)),
    'border-red-500': sex.invalid && (sex.dirty || sex.touched || showFormError)
  }"
  [title]="sex.invalid && (sex.dirty || sex.touched || showFormError) ? 'Sex is required.' : ''"
>
  <option value="FEMALE">FEMALE</option>
  <option value="MALE">MALE</option>
</select>

          <span class="ml-2">Civil Status:</span>
          <select
    name="civilStatus"
    [(ngModel)]="itr.civilStatus"
    #civilStatus="ngModel"
    class="border-b w-[120px] ml-3"
    required
    [ngClass]="{
      'border-black': !(civilStatus.invalid && (civilStatus.dirty || civilStatus.touched || showFormError)),
      'border-red-500': civilStatus.invalid && (civilStatus.dirty || civilStatus.touched || showFormError)
    }"
    [title]="civilStatus.invalid && (civilStatus.dirty || civilStatus.touched || showFormError) ? 'Civil Status is required.' : ''"
  >
    <option value="SINGLE">SINGLE</option>
    <option value="MARRIED">MARRIED</option>
    <option value="WIDOWED">WIDOWED</option>
    <option value="SEPARATED">SEPARATED</option>
  </select>

          <span class="ml-2">Citizenship:</span>
          <select
    name="citizenship"
    [(ngModel)]="itr.citizenship"
    #citizenship="ngModel"
    class="border-b w-[120px] ml-3"
    required
    [ngClass]="{
      'border-black': !(citizenship.invalid && (citizenship.dirty || citizenship.touched || showFormError)),
      'border-red-500': citizenship.invalid && (citizenship.dirty || citizenship.touched || showFormError)
    }"
    [title]="citizenship.invalid && (citizenship.dirty || citizenship.touched || showFormError) ? 'Citizenship is required.' : ''"
  >
        <option value="Filipino" selected>Filipino</option>
        <option value="Dual">Dual</option>
        <option value="Foreigner">Foreigner</option>
          </select>
        </div>
      </div>

      <div class="mb-2">
        <span>Address:</span>
        <input
          type="text"
          name="address"
          [(ngModel)]="itr.address"
          #address="ngModel"
          class="border-b w-[100px] ml-3"
          required
          [ngClass]="{
            'border-black': !(address.invalid && (address.dirty || address.touched || showFormError)),
            'border-red-500': address.invalid && (address.dirty || address.touched || showFormError)
          }"
          [title]="address.invalid && (address.dirty || address.touched || showFormError) ? 'Address is required.' : ''"
        />

        <span class="ml-2">Blood Type:</span>
          <select
    name="bloodType"
    [(ngModel)]="itr.bloodType"
    #bloodType="ngModel"
    class="border-b w-[40px] ml-3"
    required
    [ngClass]="{
      'border-black': !(bloodType.invalid && (bloodType.dirty || bloodType.touched || showFormError)),
      'border-red-500': bloodType.invalid && (bloodType.dirty || bloodType.touched || showFormError)
    }"
    [title]="bloodType.invalid && (bloodType.dirty || bloodType.touched || showFormError) ? 'Blood Type is required.' : ''"
  >
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>

        <span class="ml-2">Date of Birth:</span>
        <input type="date" name="dob" [(ngModel)]="itr.dob" #dob="ngModel" class="border-b w-[100px] ml-1" required
          [ngClass]="{
            'border-black': !(dob.invalid && (dob.dirty || dob.touched || showFormError)),
            'border-red-500': dob.invalid && (dob.dirty || dob.touched || showFormError)
          }"
          [title]="dob.invalid && (dob.dirty || dob.touched || showFormError) ? 'Date of Birth is required.' : ''"
        />

        <!-- Zip Code -->
                 <span class="ml-2">Zip Code:</span>
<input
  type="number"
  name="zipCode"
  [(ngModel)]="itr.zipCode"
  #zipCode="ngModel"
  class="border-b w-[60px] ml-1"
  required
  pattern="^[0-9]{4}$"
  maxlength="4"
  [ngClass]="{
    'border-black': !(zipCode.invalid && (zipCode.dirty || zipCode.touched || showFormError)),
    'border-red-500': zipCode.invalid && (zipCode.dirty || zipCode.touched || showFormError)
  }"
  [title]="zipCode.invalid && (zipCode.dirty || zipCode.touched || showFormError) ? 'Please enter a valid 4-digit zip code.' : ''"
/>

      </div>

      <div class="mb-2">
        <span>Mother’s Maiden Name:</span>
        <input
          type="text"
          name="motherMaiden"
          [(ngModel)]="itr.motherMaiden"
          #motherMaiden="ngModel"
          class="border-b w-[180px] ml-3"
          required
          [ngClass]="{
            'border-black': !(motherMaiden.invalid && (motherMaiden.dirty || motherMaiden.touched || showFormError)),
            'border-red-500': motherMaiden.invalid && (motherMaiden.dirty || motherMaiden.touched || showFormError)
          }"
          [title]="motherMaiden.invalid && (motherMaiden.dirty || motherMaiden.touched || showFormError) ? 'Mother’s Maiden Name is required.' : ''"
        />
        <span class="ml-4">Father’s Name:</span>
        <input
          type="text"
          name="fatherName"
          [(ngModel)]="itr.fatherName"
          #fatherName="ngModel"
          class="border-b w-[180px] ml-3"
          required
          [ngClass]="{
            'border-black': !(fatherName.invalid && (fatherName.dirty || fatherName.touched || showFormError)),
            'border-red-500': fatherName.invalid && (fatherName.dirty || fatherName.touched || showFormError)
          }"
          [title]="fatherName.invalid && (fatherName.dirty || fatherName.touched || showFormError) ? 'Father’s Name is required.' : ''"
        />
      </div>

      <div class="mb-2">
        <span>Educational Attainment:</span>
          <select
    name="education"
    [(ngModel)]="itr.education"
    #education="ngModel"
    class="border-b w-[150px] ml-3"
    required
    [ngClass]="{
      'border-black': !(education.invalid && (education.dirty || education.touched || showFormError)),
      'border-red-500': education.invalid && (education.dirty || education.touched || showFormError)
    }"
    [title]="education.invalid && (education.dirty || education.touched || showFormError) ? 'Educational Attainment is required.' : ''"
  >
          <option value="No Formal Education">No Formal Education</option>
          <option value="Elementary">Elementary</option>
          <option value="High School">High School</option>
          <option value="Vocational">Vocational</option>
          <option value="College">College</option>
          <option value="Postgraduate">Postgraduate</option>
        </select>
        <span class="ml-4">Tel. /Cel. No.:</span>
        <!-- Contact Number -->
<input
  type="text"
  name="contact"
  [(ngModel)]="itr.contact"
  #contact="ngModel"
  class="border-b w-[120px] ml-1"
  required
  pattern="^09[0-9]{9}$"
  maxlength="11"
  [ngClass]="{
    'border-black': !(contact.invalid && (contact.dirty || contact.touched || showFormError)),
    'border-red-500': contact.invalid && (contact.dirty || contact.touched || showFormError)
  }"
  [title]="contact.invalid && (contact.dirty || contact.touched || showFormError) ? 'Please enter a valid Philippine mobile number (e.g., 09XXXXXXXXX).' : ''"
/>
      </div>

      <div class="mb-2">
        <span>PHILHEALTH I.D No.:</span><br>
        <span class="">Indigent No.:</span>
        <input type="text" name="philhealth" [(ngModel)]="itr.philhealth" class="border-b border-black w-[90px] ml-1" />
        <span class="ml-4">M/D NHTS No.:</span>
        <input type="text" name="nhts" [(ngModel)]="itr.nhts" class="border-b border-black w-[90px] ml-1" />
        <span class="ml-4">M/D 4p’s No.:</span>
        <input type="text" name="fourPs" [(ngModel)]="itr.fourPs" class="border-b border-black w-[90px] ml-1" />
        <span class="ml-4">M/D</span>
      </div>

      <div class="mt-4">
        <p class="font-semibold">Pregnant Mother:</p>
        <div>
          <span>LMP:</span>
        <input type="date" name="lmp" [(ngModel)]="itr.lmp" #lmp="ngModel" class="border-b w-[100px] ml-1" required
          [ngClass]="{
            'border-black': !(lmp.invalid && (lmp.dirty || lmp.touched || showFormError)),
            'border-red-500': lmp.invalid && (lmp.dirty || lmp.touched || showFormError)
          }"
          [title]="lmp.invalid && (lmp.dirty || lmp.touched || showFormError) ? 'Last Menstrual Period is required.' : ''"
        />

          <span class="ml-4">EDC:</span>
        <input type="date" name="edc" [(ngModel)]="itr.edc" #edc="ngModel" class="border-b w-[100px] ml-1" required
          [ngClass]="{
            'border-black': !(edc.invalid && (edc.dirty || edc.touched || showFormError)),
            'border-red-500': edc.invalid && (edc.dirty || edc.touched || showFormError)
          }"
          [title]="edc.invalid && (edc.dirty || edc.touched || showFormError) ? 'Estimated Date of Confinement is required.' : ''"
        />


          <label class="ml-4">TT1<input type="checkbox" name="tti" [(ngModel)]="itr.tti" class="ml-1 align-middle" /></label>
          <label class="ml-2">TT2<input type="checkbox" name="tt2" [(ngModel)]="itr.tt2" class="ml-1 align-middle" /></label>
          <label class="ml-2">TT3<input type="checkbox" name="tt3" [(ngModel)]="itr.tt3" class="ml-1 align-middle" /></label>
          <label class="ml-2">TT4<input type="checkbox" name="tt4" [(ngModel)]="itr.tt4" class="ml-1 align-middle" /></label>
          <label class="ml-2">TT5<input type="checkbox" name="tt5" [(ngModel)]="itr.tt5" class="ml-1 align-middle" /></label>
          <label class="ml-2">TT2+<input type="checkbox" name="tt2dash" [(ngModel)]="itr.tt2dash" class="ml-1 align-middle" /></label>
        </div>
      </div>

<div class="mt-4">
  <p class="font-semibold">
    TYPE OF CONSULTATION:   <br>
    <span class="font-normal">
      General (Prenatal, Dental Care/ Consultation, Postpartum, Family Planning, TB, Leprosy, Sick Children, Child Immunization, Child Care, Child Nutrition)
    </span>
  </p>

  <!-- Example for consultation1 to consultation8 -->
<div class="grid grid-cols-2 gap-x-8 mt-2 mb-3">
  <div class="space-y-3">
    <select name="consultation1" [(ngModel)]="itr.consultation1" class="border-b border-black w-full mr-3" required>
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
    <select name="consultation2" [(ngModel)]="itr.consultation2" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
    <select name="consultation3" [(ngModel)]="itr.consultation3" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
    <select name="consultation4" [(ngModel)]="itr.consultation4" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
  </div>
  <div class="space-y-3">
    <select name="consultation5" [(ngModel)]="itr.consultation5" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
    <select name="consultation6" [(ngModel)]="itr.consultation6" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
    <select name="consultation7" [(ngModel)]="itr.consultation7" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
    <select name="consultation8" [(ngModel)]="itr.consultation8" class="border-b border-black w-full mr-3" >
      <option *ngFor="let opt of consultationOptions" [value]="opt">{{ opt }}</option>
    </select>
  </div>
  </div>
</div>


      <div class="mb-2">
        <p class="font-semibold">EF COMPLAINT:</p>
        <textarea name="efComplaint" [(ngModel)]="itr.efComplaint" class="border border-black rounded w-full p-2" rows="3"></textarea>
      </div>

      <div class="mt-4">
        <p class="font-bold text-lg">DIAGNOSIS:</p>
        <textarea name="diagnosis" [(ngModel)]="itr.diagnosis" #diagnosis="ngModel" class="border rounded w-full p-2" rows="3" required
          [ngClass]="{
        'border-black': !(diagnosis.invalid && (diagnosis.dirty || diagnosis.touched || showFormError)),
        'border-red-500': diagnosis.invalid && (diagnosis.dirty || diagnosis.touched || showFormError)
          }"
          [title]="diagnosis.invalid && (diagnosis.dirty || diagnosis.touched || showFormError) ? 'Diagnosis is required.' : ''"
        ></textarea>
      </div>

      <div class="mt-6 flex justify-end mb-5">
            <div class="flex justify-start items-center mb-1">
      <span class="text-xs text-gray-600 font-medium">
        {{ now | date:'fullDate' }} {{ now | date:'shortTime' }}
      </span>
    </div>
        <!-- Disable the button if the form is invalid (none or not all required fields are filled) -->
<!-- <button
  type="button"
  class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition font-semibold print:hidden"
  (click)="printAndSaveOrUpdateITR(itrForm)"
  [disabled]="itrForm.invalid"
>
  {{ motherId ? 'Update & Print' : 'Save & Print' }}
</button> -->
      </div>
    </div>

  </form>
  </div>
</body>
